.logo {
  margin: 0 20px 0 0;

}

.logo a {
  color: #fff !important;
}

.header {
  display: flex;
  height: auto;
}

.menu {
  line-height: 64px;
}

.row {
  padding: 6px 0;
}

.menuWrap {
  position: absolute;
  width: 100%;
  top: 64px;
  background: #f0f2f5;
  z-index: 99;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
  padding: 20px;
  left: 0;
}

.footer {
  /*background: #0066c7;*/
  background: #001529;
  color: rgba(255, 255, 255, .5);
  text-align: center;
  padding: 30px;
  margin-top: 30px;
}

.footer a {
  margin: 0 5px 10px 5px;
  color: rgba(255, 255, 255, .5);
}
.footer a:hover {
  color: rgba(255, 255, 255, 1);
}
