.logo {
  margin: 0 20px 0 0;

}

.logo a {
  color: #fff !important;
}

.header {
  display: flex;
  height: auto;
}

.menu {
  line-height: 64px;
}

.row {
  padding: 6px 0;
}

.menuWrap {
  position: absolute;
  width: 100%;
  top: 64px;
  background: #1890ffdb;
  z-index: 99;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
  padding: 20px;
  left: 0;
  color: #fff;
  transition: height .5s;
  overflow: hidden;
  height: 0;
}

.show {
  height: 225px;
}

.menuWrap :global(.ant-btn-primary) {
  background: #ff9701;
  border-color: #ff9701;
}

.menuWrap :global(.ant-btn-primary:hover) {
  opacity: .8;
}

.menuWrap :global(.ant-radio-button-wrapper) {
  color: #fff;
  background-color: #001529;
  border-color: #001529;
}

.menuWrap :global(.ant-radio-button-wrapper-checked) {
  color: #fff;
  background-color: #ff9701;
  border-color: #ff9701;
}

.menuWrap :global(a) {
  color: #fff;
}

.menuWrap :global(a:hover) {
  color: rgba(255, 255, 255, .5);
}

.footer {
  /*background: #0066c7;*/
  background: #001529;
  color: rgba(255, 255, 255, .5);
  text-align: center;
  padding: 17px;
  margin-top: 30px;
}

.footer a {
  margin: 0 5px 10px 5px;
  color: rgba(255, 255, 255, .5);
}

.footer a:hover {
  color: rgba(255, 255, 255, 1);
}


.mask {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 326px;
  z-index: 1;
}

.redPoint {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: red;
}