.bg {
  /*position: absolute;*/
  background: url("/img/737.jpg") #9a9a9a center center;
  background-size: cover;
  /*left: 0;*/
  /*right: 0;*/
  /*top: 0;*/
  /*bottom: 0;*/
  /*padding: 64px 0 102px;*/

  height:calc(100vh - 64px - 76px);
  /*min-height: 480px;*/
  margin-bottom: -30px;
  padding-bottom: 40px;

}

.home {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.home > div {
  position: relative;
  height: 100%;
}

.home :global(.ant-layout-header) {
  z-index: 1;
}

.home :global(.ant-layout-footer) {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0
}

.input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #fff;
  width: 100%;
  height: 50px;
  font-weight: bold;
  font-size: 35px;
  outline: none;
  /*padding: 0 20px;*/
}

.input :global(.ant-select-selection) {
  background-color: transparent;
}

.input :global(.ant-select-selection) input{
  border: none;

  background-color: transparent!important;;
  height: 60px!important;
  font-weight: bold;
  font-size: 35px;
  outline: none;
  color: #fff;
}

.input::placeholder {
  color: rgba(255, 255, 255, .6);
}

.headline {
  color: #fff;
  margin: 0 auto;
  width: 80%;
  /*padding-top: 5vh;*/
}

.headline h1 {
  color: #fff;
  text-align: center;
  font-size: 40px;
}

.newsTitle {
  font-weight: 600;
  border-bottom: 1px solid #d4d4d4;
  color: #00306e;
  font-size: 1rem;
  line-height: 1.67em;
  padding-bottom: 9px;
  margin-bottom: 30px;
}

.item img {
  max-width: 100%;
  width: 100%;
  display: block;
}

.textWrapper {
  margin-top: 15px;
}

.textWrapper h4 {
  font-size: 18px;
}
.textWrapper h4 a {
  color: #fff;
}


.date {
  font-family: "Chronicle SSm",Georgia,Times,"Times New Roman",serif;
  color: rgba(255,255,255,.5);
  font-style: italic;
}

.news {
  background: rgba(0,0,0,0.2);
  padding: 20px;
  border-radius: 10px;
  margin: 40px 0 0 0;
}

.center {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}