.wrap {
	margin-bottom: 10px;
}

.wrapBor {
	border: 1px solid #000;
}

.tag {
	color: #000;
	margin-bottom: 4px;
}

.points {
	font-size: 50px;
	font-weight: 500;
	color: #000;
}

.tagWrap {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
}

.pointWrap {
	border-right: solid 1px #000;
	padding: 15px 0;
}

.classWrap {
	padding: 0 40px;
}

.textWrap {
	font-size: 20px;
	color: #000;
}

.rowWrap {
	margin-bottom: 20px;
}

.rowWrapPadding {
	padding: 20px;
}

.rateWrap {
	padding: 0 20px;
}

.likeWrap {
	margin-top: 30px;
}

.schoolStyle {
	font-size: 28px;
	color: #000;
}

/*user-home*/
.schoolName {
	padding: 10px;
	margin: 10px 0;
	background-color: #eee;
	color: #a6a6a2;
}

.schoolPoints {
	font-size: 32px;
	font-weight: 500;
	color: #000;
}

/*search.js*/
.searchSelect {
	width: 120px;
	margin-right: 10px;
}